<script src="https://js.stripe.com/v3/"></script>
<button id="checkout-button">Checkout</button>

<script>
  var stripe = Stripe('pk_live_51RjOv4DBN8LyliKgjLyCOOcTuB9azAbti9zmucPf99lMQhKSGo0gDMiJCPFCd2BsUhmDn3Xxlw8JEowWfn4NV13s00iRsg6PdI');
  document.getElementById('checkout-button').addEventListener('click', function () {
    fetch('/create-checkout-session', {
      method: 'POST',
    })
    .then(response => response.json())
    .then(session => {
      return stripe.redirectToCheckout({ sessionId: session.id });
    })
    .catch(error => console.error(error));
  });
</script>